*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}

body{
  background-color: #e8e8e8;
  /* text-align: center; */
}


/* hero section */

.hero{
height: 500px;
width: 100%;
position: relative;
}

.image-slider{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-image{
  min-width:100%;
  height: 100%;
  width: 100%;
  transform: translate(-300%);
  transition: transform 0.5s;
  
}

.hero-image img{
  height: 100%;
  width: 100%;

}

.image-slider-btn{
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.slider-btn{
  border: none;
  padding: 100px 20px ;
  font-size: 40px;
  background-color: transparent;
}

.slider-btn:hover{
  border: 2px solid black;
}


/* main */

.main{
  position: absolute;
  z-index: 1;
  top: 250px;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 625px) {
  
  .nav-address-link{
    display: none;
  }

  .nav-orders-link{
    display: none;
  }
  
  .nav-amazon1{
    display: none;
  }
  .nav-amazon2{
    display: inline-block;
    height: 40px;
    width: 40px;
  }

  .nav-logo{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 4rem;
  }

}


@media (max-width: 770px) {
  .hero{
    height: 250px;
    }

  .main{
    top: 200px;
  }
}



.product-container{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  /* border-radius: 10px; */
  margin: 10px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}



.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 220px;
  margin-bottom: 20px;
}



.product-image{
  height: 100%;
  width: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 5px;
  display: flex;
}

.add-to-cart-poppop{
  height: 20px;
  display: flex;
  padding: 10px;
  /* display: none; */
  align-items: center;
}

.add-to-cart-poppop p{
  color: #537474;
  font-size: larger;
}

.check-icon{
   height: 25px;
   width: 25px;
   margin-right: 5px;
}

.product-quantity-container select{
  border: none;
  padding-left: 5px;
  height: 25px;
  width: 55px;
  border-radius: 6px;
  background-color: #e0dddd;
  
}

.product-quantity-container select:hover{
  border: 2px solid orange;
}

.add-to-cart-button{
  width: 100%;
  /* margin-top: 40px; */
  padding: 8px;
  border-radius: 50px;
  border: 0.5px solid rgb(255, 221, 0);
  background-color: rgb(255, 193, 5);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.add-to-cart-button:hover{
  border: 1px solid rgb(255, 208, 0);
  background-color: #ffe100;
  cursor: pointer;
}


/* fotter section */

.futter{
  height: 40px;
  width: 100%;


}

.go-top{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #262e36;
  color: #ffffff;
  text-decoration: none;
}

.futter-info{
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content:space-around;
  background-color: #131A22;
}

.futter-one{
  height: 100%;
  width: 190px;
}

.futter-logo,
.futter-amazon-mobile{
  height: 100%;
  width: 100%;
}


.futter-amazon-mobile{
  display: none;
}

.futter-two{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-weight: bold;
  color: #ffffff;
}


@media(max-width:450px){
  .hero{
    height: 220px;
    }

  .main{
    top: 150px;
  }

  .product-container{
    margin: 30px;
    margin-top: 30px;
  }

  .futter-logo{
    display: none;
  }

  .nav-cart{
    margin-left: 8px;
  }

  .futter-amazon-mobile{
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 30px;
  }
}

